<h1 class="user-moments-title icon-comment-empty">Moments:</h1>
<% if( data ) { %>
  <ul class="user-moments-list">
    <%
    $.each(data, function( index, item ) {
    %>
      <li>
        <% if( item.object.content ) { %>
          <h1><%= item.object.content %></h1>
        <% } %>
        <ul class="user-activities-list-infos">
          <li><b class="icon-gplus"></b><%= item.object.plusoners.totalItems %></li>
          <li><b class="icon-retweet"></b><%= item.object.replies.totalItems %></li>
          <li><b class="icon-upload-cloud"></b><%= item.object.resharers.totalItems %></li>
        </ul>
        <%
        if( item.object.attachments ) {
          $.each(item.object.attachments, function( counter, attach_item ) {
        %>
          <figure>
            <% if( attach_item.hasOwnProperty( 'image' ) ) { %>
              <img src="<%= attach_item.image.url %>" alt="">
            <% } %>
            <figcaption><%= attach_item.content %></figcaption>
          </figure>
        <%
          });
        }
        %>
      </li>
    <%
    });
    %>
  </ul>
<% } else { %>
  <p>The user don't have moments!</p>
<% } %>
