<h1 class="user-search-people-result-title">Result(s) of your search:</h1>
<ul class="user-search-people-result-list">
  <% $.each(data, function( index, item ) { %>
    <li>
      <figure>
        <a href="<%= item.url %>"><img src="<%= item.image.url %>" alt="<%= item.displayName %>" title="<%= item.displayName %>"></a>
        <figcaption><a href="<%= item.url %>"><%= item.displayName %></a></figcaption>
      </figure>
    </li>
  <% }); %>
</ul>