<h1 class="user-friends-title icon-users-1">Your Friends:</h1>
<ul class="user-friends-list">
  <%
  $.each(data, function( index, item ) {
    if( item.objectType === 'person' ) {
  %>
      <li>
        <figure>
          <a href="#!/user/<%= item.id %>"><img src="<%= item.image.url %>" alt="<%= item.displayName %>" title="<%= item.displayName %>"></a>
          <figcaption><%= item.displayName %></figcaption>
        </figure>
      </li>
  <%
    }
  });
  %>
</ul>