<h1 class="user-pages-title">Pages That You Follow:</h1>
<ul class="user-pages-list">
  <%
  $.each(data, function( index, item ) {
    if( item.objectType === 'page' ) {
  %>
      <li>
        <figure>
          <a href="#!/user/<%= item.id %>"><img src="<%= item.image.url %>" alt="<%= item.displayName %>" title="<%= item.displayName %>"></a>
          <figcaption><%= item.displayName %></figcaption>
        </figure>
      </li>
  <%
    }
  });
  %>
</ul>